apiVersion: v1
kind: Service
metadata:
  name: devops-demo
spec:
  selector:
    app: devops-demo
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 5000
      nodePort: 30080
